[submodule "underscore.hpp"]
	path = underscorehpp
	url = https://github.com/structuresound/underscore.hpp.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/structuresound/underscore.git
